.promo-grid-card__image--vacio {
  background: #cfcfcf;
}

.promo-grid-card__desc {
  margin: 0;
  font: 400 0.6875rem 'Inter', sans-serif;
  color: #666;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
